:root {
    /*Digital tokens, facilitan la selección y variables a cambiar y/o modificar estilos.*/
    /*Colors ui*/
    --color-primary: #0283F4;
    --color-secondary: #636366;
    --color-success: #04B230;
    --color-danger: #E53438;
    --color-warning: #DFB50A;
    --color-info: #e07c23;
    --color-link: #0071D3;
    --color-bc-link: #D0E9FF;

    --color-white: #ffffff;
    --color-black: #000000;

    --color-light: #FAFAFA;
    --color-dark: #575D63;

    --color-text: #151516;

    --color-grey: #72646A;

    /*Hovers*/
    --color-primary-hover: #0660af;
    --color-secondary-hover: #565658;
    --color-success-hover: #049428;
    --color-danger-hover: #d12f32;
    --color-warning-hover: #eebf04;
    --color-info-hover: #ce7221;
    --color-bc-link: #b4d9fa;
    --color-link-hover: #0166be;

    --color-white-hover: #f0efef;

    /*Borders*/
    --color-border: #e6e6e7;
    --color-border-dark: #636366;

    /*Backgrounds*/
    --color-bg: #f0f0f0;
    --color-bg-dark: #050505;

    /*Table*/
    --color-tb-row-header: #c9c9c9;
    --color-tb-row-striped: #DEDEDE;
    --color-tb-row: #F1F1F1;

    /*Forms*/
    --input-text-color:#3f3f3f;
    --input-border: 1px solid #3f3f3f;
    --input-border-focus: 1px solid #016dcc;
    
    /*card*/
    --color-card-bar: #eeeeee;
    --color-list-item: #EEEEEF;

    /*Alerts*/
    --alert-primary-bg: #CCE6FD;
    --alert-secondary-bg: #E0E0E0;
    --alert-success-bg: #CDF0D6;
    --alert-danger-bg: #FAD6D7;
    --alert-warning-bg: #F9F0CE;
    --alert-info-bg: #F9E5D3;
    --alert-light-bg: #FAFAFA;
    --alert-dark-bg: #84888C;

    --alert-primary-text: #044A87;
    --alert-secondary-text: #363639;
    --alert-success-text: #024A14;
    --alert-danger-text: #511113;
    --alert-warning-text: #655206;
    --alert-info-text: #4F2C0C;
    --alert-light-text: #464646;
    --alert-dark-text: #25282B;

    --alert-primary-border: 1px solid #0283F4;
    --alert-secondary-border: 1px solid #636366;
    --alert-success-border: 1px solid #04B230;
    --alert-danger-border: 1px solid #E53438;
    --alert-warning-border: 1px solid #DFB50A;
    --alert-info-border: 1px solid #e07c23;
    --alert-light-border: 1px solid #ECE8E8;
    --alert-dark-border: 1px solid #575D63;







    /*Font*/
    --font-base: 'Inter Tight', sans-serif;

    /*Size Container*/
    --container-width: 1200px; 
    --container-width: 1200px; 
    --container-width: 1200px; 
    --container-width: 1200px; 
    --container-width: 1200px; 

    /*Spacing*/
    --space-0: 0;
    --space-1: 0.25rem; /* 4px */
    --space-2: 0.5rem;  /* 8px */
    --space-3: 1rem;    /* 16px */
    --space-4: 1.5rem;  /* 24px */
    --space-5: 2rem;    /* 32px */

    /*Shadows*/
    --shadow-sm: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
    --shadow-md: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    --shadow-lg: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
    --shadow-input: 0px 0px 4px 2px rgba(2, 131, 244, 0.3);

    /*Rounded corner*/
    --radius-xs: 6px;
    --radius-sm: 12px;
    --radius-md: 16px;
    --radius-lg: 22px;
    --radius-xlg: 26px;

}