.row{
    display: grid;
}


.row-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--space-3);
}


.col-1{ grid-template-columns:  repeat(1, 1fr); }
.col-2{ grid-template-columns:  repeat(2, 1fr); }
.col-3{ grid-template-columns:  repeat(3, 1fr); }
.col-4{ grid-template-columns:  repeat(4, 1fr); }
.col-5{ grid-template-columns:  repeat(5, 1fr); }
.col-6{ grid-template-columns:  repeat(6, 1fr); }
.col-7{ grid-template-columns:  repeat(7, 1fr); }
.col-8{ grid-template-columns:  repeat(8, 1fr); }
.col-9{ grid-template-columns:  repeat(9, 1fr); }
.col-10{ grid-template-columns:  repeat(10, 1fr); }
.col-11{ grid-template-columns:  repeat(11, 1fr); }
.col-12{ grid-template-columns:  repeat(12, 1fr); }

.span-1{ grid-column:  span 1; }
.span-2{ grid-column:  span 2; }
.span-3{ grid-column:  span 3; }
.span-4{ grid-column:  span 4; }
.span-5{ grid-column:  span 5; }
.span-6{ grid-column:  span 6; }
.span-7{ grid-column:  span 7; }
.span-8{ grid-column:  span 8; }
.span-9{ grid-column:  span 9; }
.span-10{ grid-column: span 10; }
.span-11{ grid-column: span 11; }
.span-12{ grid-column: span 12; }

@media screen and (max-width: 992px) {
    .col-md-1{ grid-template-columns:  repeat(1, 1fr); }
    .col-md-2{ grid-template-columns:  repeat(2, 1fr); }
    .col-md-3{ grid-template-columns:  repeat(3, 1fr); }
    .col-md-4{ grid-template-columns:  repeat(4, 1fr); }
    .col-md-5{ grid-template-columns:  repeat(5, 1fr); }
    .col-md-6{ grid-template-columns:  repeat(6, 1fr); }
    .col-md-7{ grid-template-columns:  repeat(7, 1fr); }
    .col-md-8{ grid-template-columns:  repeat(8, 1fr); }
    .col-md-9{ grid-template-columns:  repeat(9, 1fr); }
    .col-md-10{ grid-template-columns:  repeat(10, 1fr); }
    .col-md-11{ grid-template-columns:  repeat(11, 1fr); }
    .col-md-12{ grid-template-columns:  repeat(12, 1fr); }

    .span-md-1{ grid-column:  span 1; }
    .span-md-2{ grid-column:  span 2; }
    .span-md-3{ grid-column:  span 3; }
    .span-md-4{ grid-column:  span 4; }
    .span-md-5{ grid-column:  span 5; }
    .span-md-6{ grid-column:  span 6; }
    .span-md-7{ grid-column:  span 7; }
    .span-md-8{ grid-column:  span 8; }
    .span-md-9{ grid-column:  span 9; }
    .span-md-10{ grid-column: span 10; }
    .span-md-11{ grid-column: span 11; }
    .span-md-12{ grid-column: span 12; }
}

@media screen and (max-width: 576px) {
    .col-sm-1{ grid-template-columns:  repeat(1, 1fr); }
    .col-sm-2{ grid-template-columns:  repeat(2, 1fr); }
    .col-sm-3{ grid-template-columns:  repeat(3, 1fr); }
    .col-sm-4{ grid-template-columns:  repeat(4, 1fr); }
    .col-sm-5{ grid-template-columns:  repeat(5, 1fr); }
    .col-sm-6{ grid-template-columns:  repeat(6, 1fr); }
    .col-sm-7{ grid-template-columns:  repeat(7, 1fr); }
    .col-sm-8{ grid-template-columns:  repeat(8, 1fr); }
    .col-sm-9{ grid-template-columns:  repeat(9, 1fr); }
    .col-sm-10{ grid-template-columns:  repeat(10, 1fr); }
    .col-sm-11{ grid-template-columns:  repeat(11, 1fr); }
    .col-sm-12{ grid-template-columns:  repeat(12, 1fr); }

    .span-sm-1{ grid-column:  span 1; }
    .span-sm-2{ grid-column:  span 2; }
    .span-sm-3{ grid-column:  span 3; }
    .span-sm-4{ grid-column:  span 4; }
    .span-sm-5{ grid-column:  span 5; }
    .span-sm-6{ grid-column:  span 6; }
    .span-sm-7{ grid-column:  span 7; }
    .span-sm-8{ grid-column:  span 8; }
    .span-sm-9{ grid-column:  span 9; }
    .span-sm-10{ grid-column: span 10; }
    .span-sm-11{ grid-column: span 11; }
    .span-sm-12{ grid-column: span 12; }
    }